body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(64, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 1px solid greenyellow;
}
div#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    padding-left: 100px;
}
form button{
    width: 150px;
    flex-basis: 30px;
    border: none;
    outline: 0;
    margin: 5px;
    font-size: 17px;
}
form button {
    background-color: rgb(80,80,80);
    color: white;
    border-radius: 5px;
}
form button:hover{
    background-color: greenyellow;
    border-radius: 5px;
    color: rgb(80, 80, 80);
    font-weight: 600;
}
table {
    background-color: rgb(80, 80, 80);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    border-radius: 10px;
}
h3{
    font-size: 15px;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 1px solid greenyellow;
}
h4{
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 3px;
}